<template>
  <div class="card">
    <header class="card-head">
        <div class="columns">
            <div class="column">
                <p class="card-header-title has-text-left column">{{tarefas.length}} tarefas</p>
            </div>
            <div class="column">
                <a id="showModal" class="button is-primary has-text-right column" @click="showModal = !showModal">Criar Tarefa </a>
            </div>
        </div>
    </header>
    <section>
        <div class="card-content">
            <div class="content">
                <list :tarefas="tarefas" @check="checkTarefa" @remove="removerTarefa"></list>
            </div>
        </div>
    </section>
    <section>
        <modal v-show="showModal" @close="showModal = false">
            <div slot="header"> Nova Tarefa</div>
            <div slot="body"> 
              <novo @novaTarefa="adicionarTarefa"></novo> 
            </div>
            <div slot="footer"> 
            </div>
          </modal>
    </section>
     
  </div>
</template>

<script>
import Novo from './Novo'
import List from './List'
import Modal from './Modal'


export default {
  name: 'card',
  components: {
    Novo,
    List, 
    Modal
  },
  data () {
    return {
    showModal: false,
      dias: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
      meses: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
      tarefas: []
    }
  },
  computed: {
    today: function() {
      let date = new Date()
      return `${this.dias[date.getDay()]}, ${date.getDate()} de ${this.meses[date.getMonth()]}`
    }
  },
  methods: {
    adicionarTarefa(tarefa) {
      let nova_tarefa = {'description': tarefa, 'checked': false}
      this.tarefas.push(nova_tarefa)
    },
    checkTarefa(tarefa) {
      this.tarefas[tarefa]['checked'] = !this.tarefas[tarefa]['checked']
    },
    removerTarefa(tarefa) {
      this.$delete(this.tarefas, tarefa)
    }
  }
}
</script>

<style>
.card {
  border-radius: 10px;
}
.card-head {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1)
}
.card-header-title {
  color: #636368;
}
#showModal {
    display: inline-flex;
    margin-left: 100px;
    margin-top: 5px;
}
</style>
