<template>
  <div class="list-todo">
    <div class="row">
      <div class="columns">
         
        <div class="column" >
          <div v-if="tarefas.length === 0">
              <h3>Voce nao possui tarefas</h3>
          </div>
          <div v-else>
            <div class="field is-grouped" v-for="(tarefa, index) in tarefas" :key="index">
              <p class="control">
                <a class="button is-rounded is-small check-button" @click="check(index)">
                  <span class="icon is-small">
                  </span>
                </a>
              </p>
              <p class="control is-expanded" :class="{'checked': tarefa.checked }">{{tarefa.description}} {{index}}</p>
              <p class="control">
                <a class="button is-danger is-small" @click="remove(index)">
                  <span class="icon is-small">
                    <i class="fa fa-trash"></i>
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
 
</template>

<script>
import Novo from './Novo'


export default {
  name: 'list',
  props:['tarefas'],
  components: {
    Novo
  },
  data () {
    return {
    }
  },
  methods: {
    adicionarTarefa(tarefa) {
      let nova_tarefa = {'description': tarefa, 'checked': false}
      this.tarefas.push(nova_tarefa)
    },
    check(tarefa) {
      this.$emit('check', tarefa)
    },
    remove(tarefa) {
      this.$emit('remove', tarefa)
    }
  }
}
</script>

<style scoped>
  .checked {
    text-decoration: line-through;
  }

</style>
