
<template>
<div>
    <div class="modal">  
      <div>
        <div class="modal-header">
            <slot name="header"></slot>

        </div>
        <div class="modal-body">
            <slot name="body"></slot>
        </div>
        <div class="modal-footer">
            <slot name="footer"></slot>
            <a class="button is-danger pull-right" @click="$emit('close')">Fechar</a>
        </div>
      </div>
    </div>
    <div class="modal-background"></div>
  </div>

</template>


<script>
import Novo from "./Novo"
export default {
    name: 'modal',

    data(){
        return{
            // showModal: false
        }
    },
    components: {
        Novo
    },
  };
</script>


<style>
  .modal {
    display: flex;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 150px;
    background: #fff;
    border-radius: 5px;
}

.modal-body {
    margin-bottom: 20px;
    margin-top: 20px;
}

.modal-background {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-wrapper {
  /* display: block; */
}
</style>